/tmp
#/struktogramme.pdf
/struktogramme.synctex.gz
/struktogramm.synctex.gz
/struktogramme.aux
/struktogramme.lof
/struktogramme.log
/struktogramme.out

#Workaround to pretend that someone pushes a .gitignore file
#where strutogramme.pdf is listed
.gitignore
